@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-gradient {  
  @apply bg-gradient-to-r from-red-500 to-yellow-500 text-white font-bold py-2 px-4 rounded;  
 }

 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: max-content;
  min-height: 100vh;
  background-color: #535bf2;
}

 

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



/* Añadir esta clase en tu CSS */  
.transition-height {  
  transition: height 0.5s ease; /* Cambia el tiempo aquí según sea necesario */  
  overflow: hidden;              /* Evita que el contenido se desborde durante la transición */  
}  

.hidden {  
  height: 0;                     /* Altura del menú oculto */  
}  

.visible {  
  height: auto;                  /* Altura automática para el menú visible */  
}


@keyframes bounce {  
  0%, 100% {  
      transform: translateY(0); /* Posición original */  
  }  
  50% {  
      transform: translateY(-5px); /* Mueve el icono hacia arriba */  
  }  
}  

.bounce-icon {  
  animation: bounce 1s infinite; /* Repite la animación indefinidamente */  
}